<div class="skills-wrapper">
  <!-- Angular -->
  <app-skill
    [name]="'skill_angular_name'"
    [image]="'angular'"
    [subtitle]="'skill_angular_subtitle'"
    [description]="'skill_angular_description'"
    [skill]="100"
  >
  </app-skill>

  <!-- Git -->
  <app-skill
    [name]="'skill_git_name'"
    [image]="'git'"
    [subtitle]="'skill_git_subtitle'"
    [description]="'skill_git_description'"
    [skill]="100"
  >
  </app-skill>

  <!-- Java -->
  <app-skill
    [name]="'skill_java_name'"
    [image]="'java'"
    [subtitle]="'skill_java_subtitle'"
    [description]="'skill_java_description'"
    [skill]="100"
  >
  </app-skill>

  <!-- JSF -->
  <app-skill
    [name]="'skill_jsf_name'"
    [image]="'jsf'"
    [subtitle]="'skill_jsf_subtitle'"
    [description]="'skill_jsf_description'"
    [skill]="100"
  >
  </app-skill>

  <!-- Scrum -->
  <app-skill
    [name]="'skill_scrum_name'"
    [image]="'scrum'"
    [subtitle]="'skill_scrum_subtitle'"
    [description]="'skill_scrum_description'"
    [skill]="80"
  >
  </app-skill>

  <!-- C# -->
  <app-skill
    [name]="'skill_csharp_name'"
    [image]="'csharp'"
    [subtitle]="'skill_csharp_subtitle'"
    [description]="'skill_csharp_description'"
    [skill]="80"
  >
  </app-skill>
</div>
