<div class="skills-wrapper">
  <!-- Angular -->
  <app-skill
    [name]="'skill_angular_name'"
    [image]="'angular'"
    [subtitle]="'skill_angular_subtitle'"
    [description]="'skill_angular_description'"
    [skill]="100"
  >
  </app-skill>

  <!-- Java -->
  <app-skill
    [name]="'skill_java_name'"
    [image]="'java'"
    [subtitle]="'skill_java_subtitle'"
    [description]="'skill_java_description'"
    [skill]="80"
  >
  </app-skill>

  <!-- Scrum -->
  <app-skill
    [name]="'skill_scrum_name'"
    [image]="'scrum'"
    [subtitle]="'skill_scrum_subtitle'"
    [description]="'skill_scrum_description'"
    [skill]="80"
  >
  </app-skill>
</div>
