<div class="content-wrapper">
  <mat-card class="person-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{'timHansen' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'occupationLocation' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="3">
        <mat-grid-tile [colspan]="2">
          <div style="display: block">
            <mat-card-title>{{'personal' | translate}}</mat-card-title>
            <div>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              </p>
            </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1">
          <div class="text-image robot-image">
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1">
          <div class="text-image computer-image">
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
          <div style="display: block">
            <mat-card-title>{{'technicalInterest' | translate}}</mat-card-title>
            <div>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              </p>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
